$light: #fff;
$primary-color: #00a4ccff;
$secondary-color: #00a4ccff;
// $base-color:#62618d;
$base-color: #6f8ba4;
$black: #111;
// $black:#031043;
$border-color: #fafafa;
$primary-font: 'Rubik', sans-serif;
$secondary-font: 'Montserrat', sans-serif;

$grad-color: linear-gradient(to bottom, #05a5f9, #10dab7);
